*.so
*.dylib
*.dll
*.sw[po]
build
*.hdf
*.kdev4
*.include_dirs
*.link_3rd
*.link_3rd_dirs
*.link_modules
*.misc_targets
*.object_targets
*.path
*.type
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
config.h
